<% provide(:title,'All tours') %>
<h1>All tours</h1>

<%= will_paginate @tours %>
<h2>Search Tour</h2>

<div class="nav-search">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-3" class="input-group">
      <%= form_tag(tours_path, method: :get, class: "search-form", role: "search") do %>
      <%= text_field_tag :name, params[:name], placeholder: "Search Posts", class: "search-field search-input form-control searchbox"%>
      <%= button_tag("", type: "submit", class: "searchbutton btn-search fa fa-search") %>
      <% end %>
    </div>
  </div>
</div>
<ul class="addresses">
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-sm-4">
        <div class="tours-layout">
          <div class="image-wrapper">
            <%= link_to(admin_tour_path(tour), class: "link") do %>
              <div>
                <% if tour.picture.attached? %>
                  <%= image_tag(tour.picture, size: "400x270") %>
                <% end %>
              </div>
            <% end %>
            <div class="title-wrapper">
              <%= link_to(tour.name, admin_tour_path(tour), class: "title") %>
            </div>
          </div>
          <div class="content-wrapper">
            <div class="content">
              <div class="title">
                <div class="price">
                  <span class="number"><%= tour.price %></span>
                  <sup>VND</sup>
                </div>
                <p class="for-price">3 ngay 2 dem</p>
              </div>
              <div class="group-btn-tours">
                <%= link_to("Xem", admin_tour_path(tour), class: "left-btn") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</ul>
<%= will_paginate @tours %>
