<% provide(:title, "Edit tour") %>
<h1>Update Tour</h1>
<div class="row">
  <div  class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @tour]) do |f| %>
      <%= render 'shared/error_messages', object: @tour %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
  
      <%= f.label "Picture" %>
      <%= f.file_field :picture %>
      <br>
      <%= f.submit  "Save changes", class: "btn  btn-primary" %>
    <% end %>
    
  </div>
</div>
