  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
  <br>
  <strong>Price:</strong>
  <%= @tour.price %>
  <br>
  <strong>Content:</strong>
  <%= @tour.content %>
  <br>
  <strong>Quanity user book this tour:</strong>
  <%= @tour.booking_requests.waiting.count %>
  <br>
  <%= link_to "Edit", edit_admin_tour_path(@tour) %>
  <%= link_to "Delete", admin_tour_path(@tour), method: :delete, data: { confirm: "You sure ?" } %>
</p>
