<p id="notice"><%= notice %></p>

<% if @user.avatar.attached? %>
  <div style="width:70px; height:auto">
    <%= link_to image_tag(@user.avatar, style:'width:100%'), users_path %>
  </div>
  <% else %>
    <%= gravatar_for @user, size: 50 %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
