<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @tour.name %>
  <br>
  <strong>price:</strong>
  <%= @tour.price %>
  <br>
  <strong>content:</strong>
  <%= @tour.content %>
  <br>
  <strong>rate:</strong>
  <%= @tour.ratings.average(:quanity) %>
  <br>
  <strong>status:</strong>
  <% if @booking_request && @booking_request.status %>
    <p>booking_request approved</p>
  <% elsif @booking_request %>
    <p>booking_request rejected</p>
  <% else %>
  <%= link_to "book this tour", booking_requests_path(booking_request: {tour_id: @tour.id}), method: :post %>
   <% end %>
  <br>
</p>

<%= link_to 'Book Tour', booking_requests_path(booking_request:{tour_id: @tour.id}), method: :post %>
<% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-#{key}">
        <%= value unless value.blank? %>
      </div>
    </div>
  <% end %>
<%=  @comment.errors.any? %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@comment) do |f| %>
    <%= f.label :comment %>
    <%= f.text_field :content, class: 'form-control' %>
    <%= f.hidden_field :tour_id, value: @tour.id %>
    <%= f.hidden_field :category_id, value: Category.first.id %>
    <%= f.submit %>
  <% end %>
  </div>
</div>

<% @comments.each do |comment| %>
  <%= comment.content %> on the user <%= comment.user.name %>
  <%= button_tag "Edit", id: "toggle_comment_#{comment.id}", class: "toggle_comment" %>
  <%= comment.likes.count %>
  <% if current_user.likes.find_by(comment_id: comment.id) %>
  <%= link_to "Unlike",like_path(current_user.likes.find_by(comment_id: comment.id)), method: :delete %>
  <% else %>
  <%= link_to "Like",likes_path(likes: {comment_id: comment.id}), method: :post %>
  <% end %>
  <%= form_for (comment), html: {style: 'display: none;'} do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :content, class: 'form-control' %>
   <%= f.submit %>
<% end %>

  <p> sub cmt</p>
    <% comment.sub_comments.each do |sub_cmt| %>
      <p><%= sub_cmt.content %> </p>
      <%= button_tag "Edit", id: "toggle_comment_#{sub_cmt.id}", class: "toggle_comment" %>
      <% if current_user.likes.find_by(comment_id: sub_cmt.id) %>
      <%= link_to "Unlike",like_path(current_user.likes.find_by(comment_id: sub_cmt.id)), method: :delete %>
      <% else %>
      <%= link_to "Like",likes_path(likes: {comment_id: sub_cmt.id}), method: :post %>
      <% end %>
      <%= sub_cmt.likes.count %>
      <%= form_for (sub_cmt), html: {style: 'display: none;'} do |f| %>
      <%= f.label :comment %>
      <%= f.text_field :content, class: 'form-control' %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <%= form_for (Comment.new) do |f| %>
    <%= f.label :comment %>
    <%= f.text_field :content, class: 'form-control' %>
    <%= f.hidden_field :tour_id, value: @tour.id %>
    <%= f.hidden_field :category_id, value: Category.first.id %>
    <%= f.hidden_field :parent_id, value: comment.id %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to 'Back', tours_path %>


