<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @tour.name%>
  <br>
  <strong>price:</strong>
  <%= @tour.price%>
  <br>
  <strong>content:</strong>
  <%= @tour.content%>
  <br>
  <strong>rate:</strong>
  <%= @tour.ratings.average(:quanity) %>
  <br>
  <strong>status:</strong>
  <% if @booking_request && @booking_request.status%>
    <p>booking_request approved</p>
  <% elsif @booking_request %>
    <p>booking_request rejected</p>
  <% else %>
    <p>can book this tour</p>
   <% end %>
  <br>
</p>
<%= will_paginate @comments %>
<% @comments.each do |comment| %>
 <p>
   <%= comment.content %> on the post <%= comment.user.name %>
 <p>
   <% end %>

<%= link_to 'Back', tours_path %>



